@font-face {
    font-display: swap;
    font-family: 'Play';
    /* font-style: normal; */
    font-weight: 400;
    src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    /* font-style: normal; */
    font-weight: 700;
    src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 400;
    src: url('../fonts/roboto-v32-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 500;
    src: url('../fonts/roboto-v32-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 700;
    src: url('../fonts/roboto-v32-cyrillic_latin-700.woff2') format('woff2');
}

:root {
    --color-primary-white: #FFFFFF;
    --color-primary-blue: #2B7FFF;
    --color-primary-darkblue: #011C44;
    --color-secondary-gray: #4A4A4A;
    --color-secondary-lightgray: #747272;
    --color-secondary-darkgray: #011F4A;
    --color-secondary-gold: #FFD02B;
}

/* Base */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color-primary-darkblue);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Link */
.link {
    color: var(--color-primary-darkblue);
    text-decoration: none;
}

.link:hover {
    color: var(--color-primary-blue);
    /* font-weight: 700; */
}

/* Header */
.header-container {
    padding: 32px 0;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 56px;
}

.icons {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
}

.header-icon:hover {
    fill: var(--color-primary-blue);
}

/* Hero section */
.hero-section {
    padding: 16px 0 126px calc((100% - 529px) / 3);
    /* background-image: linear-gradient(89.38deg, #FFFFFF 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%); */
    background-image: url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-section-title {
    margin-bottom: 40px;
    width: 100%;
    max-width: 529px;
}

.hero-text {
    margin-bottom: 16px;
}

.hero-title {
    margin-bottom: 0;
    color: var(--color-primary-blue);
    font-family: 'Play', sans-serif;
    font-size: 140px;
    line-height: 0.8;
    text-transform: capitalize;
}

.hero-button {
    width: 100%;
    max-width: 238px;
}

.hero-button-description {
    margin-bottom: 0;
    color: var(--color-secondary-gray);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

/* Button */
.button {
    padding: 16px 32px;
    margin-bottom: 14px;
    color: var(--color-primary-white);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-primary-blue);
    border: 2px solid var(--color-primary-blue);
    border-radius: 32px;
    cursor: pointer;
    /* width: 219px;
    height: 53px; */
}

.button:hover {
    color: var(--color-primary-darkblue);
    background-color: transparent;
}

/* Services section */
.services-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.services-section .container {
    margin-bottom: 375px;
}

.services-title.section-title {
    width: 100%;
    max-width: 529px;
}

.services-section-title {
    width: 100%;
    max-width: 709px;
}

.section-title {
    margin-bottom: 48px;
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.section-title .color-blue {
    color: var(--color-primary-blue);
}

.section-title .color-blue.capitalize {
    text-transform: capitalize;
}

.services-title {
    margin-bottom: 40px;
    text-align: start;
}

.services-text {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.services-text .text-bold {
    font-weight: 600;
    text-transform: capitalize;
}

.services-section-text {
    margin-bottom: 0;
}

/* Advantages section */
.advantages-section {
    background-image: linear-gradient(38.2deg, rgba(43, 127, 255, 0.2) 39.74%, rgba(43, 127, 255, 0) 54.16%, rgba(43, 127, 255, 0) 66.66%);
}

.advantages-title {
    text-align: center;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 56px;
}

.advantages-item {
    flex-basis: 316px;
    align-self: flex-end;
}

.advantages-card {
    padding: 24px 32px;
    border-radius: 32px;
}

.advantages-image {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.advantages-text {
    width: 100%;
    min-width: 252px;
    color: #000000;
    line-height: 1.5;
    text-align: center;
}

/* Procedures section */
.procedures-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.procedures-item {
    flex-basis: calc((100% - 32px) / 3);
}

/* Carousel */
.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primary-darkblue);
    background: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-darkblue);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-primary-darkblue);
    fill: var(--color-primary-white);
}

/* Contacts section */
.contacts-container {
    margin-bottom: 48px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.contacts-forms {
    width: 100%;
    max-width: 422px;
    padding: 48px 56px;
    color: var(--color-primary-white);
    background-color: var(--color-primary-darkblue);
    border: var(--color-secondary-darkgray) solid 4px;
    border-radius: 32px;
}

.contacts-forms .button {
    margin-bottom: 8px;
}

.contacts-forms .button:hover {
    background-color: var(--color-primary-white);
}

.contacts-title {
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.contacts-title .color-blue {
    color: var(--color-primary-blue);
}

.contacts-form {
    margin-bottom: 16px;
    padding: 18px 32px;
    color: var(--color-primary-white);
    background-color: var(--color-primary-darkblue);
    border: 2px solid var(--color-secondary-lightgray);
    border-radius: 32px;
    font-size: 13px;
    width: 310px;
    height: 52px;
}

.contacts-warning {
    color: var(--color-secondary-lightgray);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

/* Footer */
.footer {
    width: 100%;
    height: 278px;
    background-color: var(--color-primary-darkblue);
    font-size: 16px;
    font-weight: 400;
    padding: 56px 0;
    position: relative;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-nav address {
    width: 100%;
    max-width: 192px;
}

.footer-nav .icons {
    gap: 24px;
}

.footer-nav li {
    margin-bottom: 16px;
}

.footer-nav .link {
    color: var(--color-primary-white);
}

.footer-nav .link:hover {
    color: var(--color-primary-blue);
}

.footer-icon {
    fill: var(--color-primary-white);
}

.footer-icon:hover {
    fill: var(--color-primary-blue);
}

.footer-copyright {
    color: var(--color-secondary-lightgray);
    font-size: 13px;
}

.footer-image {
    position: absolute;
    bottom: 0;
    right: 0;
}